.nav-wrapper {
    position: fixed;
    left: 0;
    z-index: 20000;
    padding-top: 80px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1080px;
    margin: auto;

    ul {
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        padding: 10px 16px;
        background-color: #fff;
        list-style: none;
        display: flex;
        justify-content: space-between;

        li {
            a {
                display: block;
                padding: 8px 20px;
                width: fit-content;
                border-radius: 6px;
                font-weight: bold;

                &:hover {
                    background-color: #c0baba;
                    color: white
                }
            }
        }
    }
}