.parking-spot {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 2rem;
    min-width: 5%;
    background-color: #ccc;
    border: 1px solid #aaa;
    margin: 1.4rem;
    cursor: default;
    padding: 1.5rem;
    transition: background-color .2s ease-out;

    &.selected {
        background-color: #0091ff !important;
        color: #fafafa;
    }

    &.booking {
        background-color: blue;
        color: white
    }

    &.empty {
        background-color: lightgreen;
        color: white;
    }
    &.full {
        background-color: red;
        color: white;
    }
}

.form-control {
    &.form-modal {
        background-color: #e9ecef !important;
    }
}