<main id="main" class="main mx-auto col-md-9" style='max-width: 1080px;'>

    <div class="pagetitle pb-3">
        <h1>Dashboard</h1>

    </div>

    <section class=" dashboard">
        <div class="row">

            <div class="col-lg-8">
                <div class='row'>
                    <div class="col-xxl col-xl-12">

                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Selamat Datang! </h5>

                                <span><small class='text-xs'>Aplikasi parkir ini merupakan sebuah inovasi dalam
                                        pengembangan dan pengelolaan area parkir.</small></span>
                                <br>
                                <span>
                                    <small>Selamat menggunakan layanan kami.</small>
                                </span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl col-md-6">
                        <div class="card info-card sales-card">



                            <div class="card-body">
                                <h5 class="card-title">Lahan Tersedia</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                         class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-p-circle"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ jmlAreaLastBooked }} Area</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xxl col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Semua Lahan</h5>

                                <div class="d-flex align-items-center">
                                    <div
                                         class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-p-square"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{jmlAreaAll | number:'1.0-0'}} Area</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-12">
                        <div class="card">


                            <div class="card-body">
                                <h5 class="card-title">Monitoring Area Parkir <span>/Today</span></h5>

                                <div class="d-flex flex-wrap justify-content-around align-items-center"
                                     style="min-height: 265px;">


                                    <ng-container *ngIf="jmlAreaAll == 0 ; else monitorKosong">
                                        <p>Area parkir belum ada.</p>
                                    </ng-container>
                                    <ng-template #monitorKosong>
                                        <div class="parking-spot" *ngFor="let data of area"
                                             [class.empty]="data.status === 'Empty'"
                                             [class.booked]="data.status === 'Booked'"
                                             [class.fill]="data.status === 'Filled'">
                                            {{ data.key }}
                                        </div>
                                    </ng-template>


                                </div>


                            </div>
                            <div class='card-footer d-flex'>
                                <div class='btn btn-secondary w-100'>
                                    <a class="" href="javascript:void(0)" (click)="bookingPopup()">
                                        <p class='m-0' style='color: white'>Tambah Booking</p>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-4">


                <user-activity [activityData]="activity"></user-activity>
            </div>


        </div>

        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <list-booking></list-booking>

            </div>
        </div>


        <!-- <qrcode [qrdata]="'Your data string'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
    </section>


</main>