<div class="card-body">
    <h5 class="card-title">Riwayat Transaksi</h5>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
           class="table table-borderless hover datatable">
        <!-- <thead>
                    <tr>
                        <th style="width: 10%;"><a href="#">#</a></th>
                        <th style="width: 30%;"><a href="#">UID</a></th>
                        <th style="width: 15%;"><a href="#">Nama User</a></th>
                        <th style="width: 15%;"><a href="#">Nama Area</a></th>
                        <th style="width: 10%;"><a href="#">Waktu Booking</a></th>
                        <th style="width: 20%;"><a href="#">Status</a></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let booking of bookingList">
                        <td><a (click)="getBookingDetails(booking.key)">#{{ booking.otpKey }}</a></td>
                        <td>{{ booking.user_id }}</td>
                        <td><a href="#" class="text-primary">{{ user.displayName == null ? '-' : user.displayName }}</a>
                        </td>
                        <td><a href="#" class="text-primary">{{ user.displayName == null ? '-' : booking.nama }}</a>
                        </td>
                        <td>{{ booking.timestamp | date:'MMM dd, yyyy HH:mm:ss' }}</td>
                        <td (click)='openEnterOTP()'><span class="badge bg-success">Verifikasi OTP</span></td>
                    </tr>
                </tbody> -->
    </table>

</div>