<aside id="sidebar" class="sidebar" [ngClass]="toggleStatus ? 'toggle-sidebar' : ''">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Daftar Menu</li>
        <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" [routerLinkActive]="'collapsed'">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="manage-user" [routerLinkActive]="'collapsed'">
                <i class="bi bi-people"></i>
                <span>Kelola User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="transactions" [routerLinkActive]="'collapsed'">
                <i class="bi bi-clock-history"></i>
                <span>Riwayat Transaksi</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="billing" [routerLinkActive]="'collapsed'">
                <i class="bi bi-receipt-cutoff"></i>
                <span>Billing Monitor</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="contact" [routerLinkActive]="'collapsed'">
                <i class="bi bi-chat-square-text"></i>
                <span>Layanan Konsumen</span>
            </a>
        </li>



    </ul>

</aside>