.toast-contain {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000000000;
}

.toast-margin {
    position: relative;
    min-height: 200px;
}

.toast-float {
    position: absolute;
    top: 1rem;
    right: .8rem;
}