<div class="modal-header">
    <h6 class="modal-title">Detail Reservasi</h6>
    <a type="button" class="btn-close" (click)="modal.close('Save click')"></a>
</div>
<form novalidate class="row g-3" [formGroup]="formEnterOTP">
    <div class="modal-body px-5 py-4">
        <div class="row">
            <div class="mb-2">
                <label for="exampleInputEmail1">Nama Area</label>
                <input type="text" class="form-control form-modal" formControlName="area" readonly>
            </div>
            <div class="mb-2">
                <label for="exampleInputEmail1">Tempo Reservasi</label>
                <input type="text" class="form-control form-modal" formControlName="tempo" readonly>
            </div>
            <div class="col-12 mt-4">
                <div class="jumbotron py-4 px-5">
                    <p class="lead text-center">Kode OTP Kamu</p>
                    <h3 class="text-center">{{ bookingData?.otpKey }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-start">
        <button class="btn btn-danger w-100" (click)="cancelBooking(bookingData?.key)" *ngIf="bookingData?.status !== 'cancelled' && bookingData?.status !== 'idle' || bookingData?.status == 'finsihed'">Batal Reservasi</button>
        <button class="btn btn-primary w-100" (click)="finishBooking(bookingData?.key)" *ngIf="bookingData?.status == 'idle' && bookingData?.status !== 'cancelled'">Selesai Parkir</button>
        <button class="btn btn-dark w-100" (click)="copyToClipboard(bookingData?.otpKey)">Copy to Clipboard</button>
    </div>
</form>